@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');
body{
    background-image: url(https://images.pexels.com/photos/982263/pexels-photo-982263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}
.iconTitle{
    font-family: 'VT323', monospace;
}
.navbar-toggler{
    border-color: white;
}
.profilePhoto{
    border-radius: 50%;
    height: 300px;
    position: relative;
    left: 600px;
    top: -50px;
    box-shadow: 4px 2px 10px black;
}
.title_Name{
    padding: 10px;
    font-family: 'VT323', monospace;
}

.title_Name{
    position: absolute;
    z-index: 1;
}
.profile_Card{
    margin-top: 200px;
}
.Cus-Bg-Image{
    background-color: #19232d;
    height: 100%;
    width: 100%;
}
.card-head{
    margin-left: auto;
    margin-right: auto;
}
.card{

    color: #5a7184;
}
.Font_Icon{
    font-size: 30px;
    display: inline-block;
    border-radius: 60px;
  box-shadow: 0 0 2px  #202b36;
  padding: 0.5em 0.6em;
  background-color: #202b36; 
}
.Cus-Address{
    font-size: 30px;
}
.Cus-Icon{
    font-size: 30px;
}
.Cus-Contact{
    font-size: 25px;
}
.Cus-Help-Para{
    font-size: 25px;
    color: #5a7184;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgb(255, 255, 255);
  }
.Cus-Icon-Footer{
    font-size: 30px;
    color: #5a7184;
}
@media screen and (max-width:546px) {
    .profilePhoto{
        height: 150px;
    }
}